.ocean {
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
  }
  
  .wave {
    position: absolute;
    width: 200%;
    height: 100px;
    color: red;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg');
    background-repeat: repeat-x;
    top: 0;
    animation: wave-animation 3s linear infinite;
  }
  .wave {
    filter: hue-rotate(0deg) saturate(100%) brightness(0.5) sepia(1) hue-rotate(-50deg);

  }
  
  .wave.second {
    top: 30px;
    opacity: 0.5;
    animation: wave-animation 15s linear infinite;
  }
  
  @keyframes wave-animation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  